<!DOCTYPE html>
<html>
  <head>
    <title>Page Not Found</title>
  </head>
  <body>
    <h1>404 - Page Not Found</h1>
    <p>Sorry, we couldn't find <%= url %>.</p>
    <a href="/">Return to homepage</a>
  </body>
</html>
