<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles.css">
  <title>Document</title>
</head>
<body>
  <h1>Update <%= item.name%>'s record</h1>
  <div>
    <form action="/items/<%=item.id%>/update" method="post">
      <label for="newItemName">Enter a new name: </label>
      <input type="text" name="newItemName" id="newItemName" required>
      <button type="submit">Update</button>
    </form>
  </div>
</body>
</html>